<div class="min-h-screen py-12 mb-20 mt-4 px-4">
    <div class="container mx-auto">
        <div class="flex flex-col items-center text-center">
            <h2 class="text-4xl font-bold mb-4 text-primary-50">About Me</h2>

            <img src="assets/brian_headshot.jpg" alt="Brian Clow's Profile Image"
                class="w-60 h-60 rounded-full mb-4 object-cover">
            <p class="text-lg mb-6 text-primary-50">
                I'm an experienced software engineer with a passion for learning and a willingness to put in the effort
                to make great products. I am an effective communicator with a proven track record of picking up new
                tools quickly and delivering quality results on a team.
            </p>
            <p class="text-lg mb-6 text-primary-50">
                I have worked professionally in technical support, software solutions engineering, and Human-Computer
                Interaction Research. These experiences have shaped me into the leader I am today and guided me towards
                a career in software engineering that I truly enjoy. I'm always staying up-to-date with the latest
                software and technology trends!
            </p>
        </div>

        <div class="mt-12">
            <h3 class="text-3xl font-bold mb-4 text-primary-50">Experience</h3>
            <ul class="list-disc list-inside text-left text-primary-50">
                <li>B.S. in Computer Science</li>
                <li>Minor in Business and Certificate in Leadership & HR</li>
                <li>4 years experience in Software Engineering</li>
                <li>Lead Dev on 2 Apps released for Apple and Google</li>
            </ul>
        </div>

        <div class="mt-12">
            <h3 class="text-3xl font-bold mb-4 text-primary-50">Skills</h3>
            <p class="text-lg text-primary-50">
                JavaScript / TypeScript / Angular / Node.js / HTML / CSS / Tailwind CSS / Agile Methodologies / Git /
                Cloud Computing / AWS / Nx
            </p>
        </div>

        <div class="mt-12">
            <a href="assets/brian_resume.pdf" target="_blank"
                class="bg-primary-50 text-primary-500 font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-600 hover:text-primary-50 inline-flex items-center">
                <i class="fas fa-file-pdf mr-2"></i> My Resume
            </a>
        </div>
    </div>
</div>