<div class="min-h-screen py-12 flex flex-col items-center justify-center text-center container mx-auto px-4 mt-4">
    <h2 class="text-4xl font-bold mb-8 text-primary-50">Contact Me!</h2>
    <p class="text-xl mb-8 text-primary-50">I'd love to connect, grab a coffee or beer and chat.</p>
    <div class="flex space-x-8">
        <a href="mailto:brianrclow@gmail.com" class="text-primary-50 hover:text-primary-600">
            <i class="fas fa-envelope text-5xl"></i>
            <span class="sr-only">Email</span>
        </a>
        <a href="https://linkedin.com/in/brianrclow" class="text-primary-50 hover:text-primary-600" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-linkedin text-5xl"></i>
            <span class="sr-only">LinkedIn</span>
        </a>
        <a href="https://github.com/brianrclow" class="text-primary-50 hover:text-primary-600" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-github text-5xl"></i>
            <span class="sr-only">GitHub</span>
        </a>
        <a href="https://twitter.com/brianrclow" class="text-primary-50 hover:text-primary-600" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-twitter text-5xl"></i>
            <span class="sr-only">Twitter</span>
        </a>
    </div>
</div>