<section class="min-h-screen py-12 mb-20 mt-4">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-8 text-primary-50">Work and Projects</h2>
        <div class="grid gap-8 lg:grid-cols-3 sm:grid-cols-2">
            <div class="bg-primary-50 shadow-md rounded-md overflow-hidden">
                <!-- <img src="assets/project1.jpg" alt="Street Parking App" class="w-full h-48 object-cover"> -->
                <div class="p-6">
                    <h3 class="text-xl font-semibold">Street Parking App</h3>
                    <p class="text-gray-700 mb-4">Lead mobile development on a gamified fitness app for building
                        consistency in fitness and nutrition.</p>
                    <div class="mb-4">
                        <h4 class="text-lg font-semibold">Tech Stack</h4>
                        <p class="text-gray-700">NativeScript, Angular, TypeScript, Nx</p>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <a href="https://streetparking.com/pages/program"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fas fa-link mr-2 w-6"></i> Street Parking Program
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.streetparking.streetparkingapp"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-google-play mr-2 w-6"></i> Google Play
                        </a>
                        <a href="https://apps.apple.com/us/app/street-parking/id1568334525"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-apple mr-2 w-6"></i> App Store
                        </a>
                    </div>
                </div>
            </div>


            <div class="bg-primary-50 shadow-md rounded-md overflow-hidden">
                <!-- <img src="assets/project1.jpg" alt="Personal CRM Tool" class="w-full h-48 object-cover"> -->
                <div class="p-6">
                    <h3 class="text-xl font-semibold">Personal CRM Tool</h3>
                    <p class="text-gray-700 mb-4">A full stack personal relationship management tool with web and mobile app front-ends.</p>
                    <div class="mb-4">
                        <h4 class="text-lg font-semibold">Tech Stack</h4>
                        <p class="text-gray-700">Angular, Java, Spring Boot, NativeScript, TypeScript, SQL</p>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <a href=""
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-github mr-2 w-6"></i> GitHub
                        </a>
                        <a href=""
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-youtube mr-2 w-6"></i> Demo Video
                        </a>
                    </div>
                </div>
            </div>

            <div class="bg-primary-50 shadow-md rounded-md overflow-hidden">
                <!-- <img src="assets/project1.jpg" alt="YL Boise State App" class="w-full h-48 object-cover"> -->
                <div class="p-6">
                    <h3 class="text-xl font-semibold">YL Boise State App</h3>
                    <p class="text-gray-700">A mobile app, available for iOS and Android, for calendar events,
                        photo albums, push notifications, and social links. Lead development and design of product,
                        everything from the app icon and logo to the way information was categorized and layed out.</p>
                    <p class="text-gray-700 italic mb-4">*This app has been taken off of app stores as of 2023</p>
                    <div class="mb-4">
                        <h4 class="text-lg font-semibold">Tech Stack</h4>
                        <p class="text-gray-700">Angular, Ionic, TypeScript, Firebase</p>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <a href="https://ylboisestate.app/"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fas fa-link mr-2 w-6"></i> Website
                        </a>
                        <a href=""
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-youtube mr-2 w-6"></i> Demo Video
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>