<div class="min-h-screen py-12 mb-20 mt-4">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-8 text-primary-50">Work and Projects</h2>
        <div class="grid gap-8 lg:grid-cols-2 sm:grid-cols-2">
            <div class="bg-primary-50 shadow-md rounded-md overflow-hidden">
                <div class="p-6">
                    <h3 class="text-xl font-semibold">Street Parking App</h3>
                    <p class="text-gray-700 mb-4">Led mobile development for a fitness app focused on building
                        consistency in workouts and nutrition. Consulted on feature development, managed beta testing,
                        and ensured compliance with app store guidelines for successful public releases. Coordinated
                        with teams to integrate user feedback and improve app functionality. Maintained high user
                        engagement with regular updates with bug fixes, feature enhancements and easter eggs.</p>
                    <div class="mb-4">
                        <h4 class="text-lg font-semibold">Tech Stack</h4>
                        <p class="text-gray-700">TypeScript, Angular, NativeScript, Tailwind CSS, NestJS, MongoDB</p>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <a href="https://apps.apple.com/us/app/street-parking/id1568334525" target="_blank"
                            rel="noopener noreferrer"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-apple mr-2 w-6"></i> Apple App Store Listing
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.streetparking.streetparkingapp"
                            target="_blank" rel="noopener noreferrer"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-google-play mr-2 w-6"></i> Google Play Store Listing
                        </a>
                        <a href="https://streetparking.com/pages/program" target="_blank" rel="noopener noreferrer"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fas fa-link mr-2 w-6"></i> Street Parking Marketing Site
                        </a>
                    </div>
                </div>
            </div>

            <div class="bg-primary-50 shadow-md rounded-md overflow-hidden">
                <div class="p-6">
                    <h3 class="text-xl font-semibold">Boise State Student Org App</h3>
                    <p class="text-gray-700  mb-4">Developed a mobile app for a student organization, serving
                        as a central hub for all their links and information, available on both iOS and Android. The app
                        included features for calendar events, photo albums, push notifications, and social links. Led a
                        student team in the design and development process, overseeing everything from the app icon and
                        logo to the organization and layout of information.</p>
                    <div class="mb-4">
                        <h4 class="text-lg font-semibold">Tech Stack</h4>
                        <p class="text-gray-700">TypeScript, Angular, Ionic, Firebase</p>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <a href="https://youtube.com/shorts/V8ljQgBtQmg?feature=share" target="_blank"
                            rel="noopener noreferrer"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-youtube mr-2 w-6"></i> Demo Video
                        </a>
                        <a href="https://ylboisestate.app/" target="_blank" rel="noopener noreferrer"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fas fa-link mr-2 w-6"></i> App Landing Page
                        </a>
                    </div>
                    <p class="text-gray-700 italic mt-2">*This app has been taken off of app stores as of 2023.</p>
                </div>
            </div>

            <div class="bg-primary-50 shadow-md rounded-md overflow-hidden">
                <div class="p-6">
                    <h3 class="text-xl font-semibold">Personal CRM Tool</h3>
                    <p class="text-gray-700 mb-4">A full stack personal relationship management (CRM) tool with both web
                        and mobile app front-ends. The purpose of this project was to refresh my knowledge of Java and
                        SQL while gaining hands-on experience with Spring Boot.</p>
                    <div class="mb-4">
                        <h4 class="text-lg font-semibold">Tech Stack</h4>
                        <p class="text-gray-700">Typescript, Angular, NativeScript, Tailwind CSS, Java, Spring Boot, SQL
                        </p>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <a
                            class="bg-primary-300 text-white font-bold py-2 px-4 shadow-md rounded-md  flex items-center">
                            <i class="fab fa-github mr-2 w-6"></i> GitHub
                        </a>
                        <a
                            class="bg-primary-300 text-white font-bold py-2 px-4 shadow-md rounded-md  flex items-center">
                            <i class="fab fa-youtube mr-2 w-6"></i> Demo Video
                        </a>
                    </div>
                </div>
            </div>

            <div class="bg-primary-50 shadow-md rounded-md overflow-hidden">
                <div class="p-6">
                    <h3 class="text-xl font-semibold">Photo Overlay App</h3>
                    <p class="text-gray-700  mb-4">An iOS app created for a local mens workout group. It's purpose is to
                        allow you to take a photo or choose one from your photo library, then overlay a logo and date of
                        the workout. We call them "Boy Bands", but essentially they are group photos after the workout.
                        This app makes it easier to share the group photos on socials with the timestamp and logo.</p>
                    <div class="mb-4">
                        <h4 class="text-lg font-semibold">Tech Stack</h4>
                        <p class="text-gray-700">TypeScript, Angular, NativeScript, Device Storage</p>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <a href="https://youtube.com/shorts/n5e1zt5VP60?feature=share" target="_blank"
                            rel="noopener noreferrer"
                            class="bg-primary-500 text-white font-bold py-2 px-4 shadow-md rounded-md hover:bg-primary-700 flex items-center">
                            <i class="fab fa-youtube mr-2 w-6"></i> Demo Video
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>