<div class="flex flex-col items-center justify-center text-center min-h-screen bg-cover bg-center space-y-8 px-4">
    <img src="assets/brian_memoji.png" alt="Brian's Memoji Image" class="w-60 h-60 mb-4">
    <h1 class="text-4xl md:text-6xl font-bold text-primary-50 mb-6">Hello, I'm Brian Clow</h1>
    <p class="text-2xl md:text-4xl font-semibold text-primary-50 mb-6">
        A <span class="text-primary-600">software engineer</span> based in Idaho
    </p>
    <p class="text-lg md:text-2xl text-primary-50 mb-6">
        Currently building products &#64; <a href="https://launchpoint.dev" target="_blank"
            rel="noopener noreferrer">Launchpoint</a>
    </p>
</div>